$font-color: #f5f5f5;
$background-color:linear-gradient(to bottom, #bdc3c7, #96a0a7, #707e89, #4d5d6c, #2c3e50);; //blue
$fog-color: darkslategray; // or try darkolivegreen
$night-color: rgba(204, 0, 102, 0.5); // ruby or try midnightblue
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadowcolor: #fff;
$text-shadow-color: rgba(0,0,0,.3);
$fadecolor: #E8E8E8;
